@import "../_foundation/styles";

.ib-circle-hollow {
    @include button-no-before-after;
    border: $border;
    width: calc(#{$size} - #{$border-width * 2});
    height: calc(#{$size} - #{$border-width * 2});
    border-radius: 50%;
}