@import "../_foundation/styles";

.ib-rhombus {
    @include button-no-before-after;

    &:before {
        @include button-after-before-setup;
        @include transform-rotate(-45deg);
        background-color: $dark-color;
        border-radius: $border-radius;
        width: calc(#{$size} - #{$border-width});
        height: calc(#{$size} - #{$border-width});
        left: $border-width / 2;
        top: $border-width / 2;
    }
}