@import "../_foundation/styles";

.ib-trapezoid {
    @include button-no-before-after;
    width: $size / 3; 
    height: 0;
    border-bottom: $size solid $dark-color;
	border-left: $size / 3 solid transparent;
	border-right: $size / 3 solid transparent;
}