@import "../_foundation/styles";

.ib-first {
    @include button;

    &:before {
        width: 0; 
        height: 0; 
        border-top: $size / 2 solid transparent;
        border-bottom: $size / 2 solid transparent;
        border-right: $size - $border-width - $border-width / 2 solid $dark-color;
        right: 0;
        top: 0;
    }

    &:after {
        width: $border-width;
        height: 100%;
        background-color: $dark-color;
        border-radius: $border-radius;
        left: 0;
        top: 0;
    }
}