@import "../_foundation/styles";

.ib-arrow-top-left {
    @include button-no-before-after;
    width: $size - $border-width;
    height: $size - $border-width;
    border-left: $border;
    border-top: $border;
    border-radius: $border-radius;
}