@import "../_foundation/styles";

.ib-arrow-left-full-line {
    @include button;

    &:before {
        width: 0; 
        height: 0; 
        border-top: calc(#{$size} - #{$border-width * 2}) solid transparent;
        border-bottom: calc(#{$size} - #{$border-width * 2}) solid transparent;
        border-right: calc(#{$size} - #{$border-width * 2}) solid $dark-color;
        left: 0;
    }

    &:after {
        @include top-center;
        width: calc(#{$size} - #{$border-width * 2});
        height: calc(#{$size} - #{$border-width * 2});
        background-color: $dark-color;
        right: 0;
    }
}