@import "../_foundation/styles";

.ib-arrow-bottom-right {
    @include button-no-before-after;
    width: $size - $border-width;
    height: $size - $border-width;
    border-right: $border;
    border-bottom: $border;
    border-radius: $border-radius;
}