@import "../_foundation/styles";

.ib-arrow-left-full-line {
    @include button;

    &:before {
        width: 0; 
        height: 0; 
        border-top: $size / 2 solid transparent;
        border-bottom: $size / 2 solid transparent;
        border-right: $size - $border-width * 2 solid $dark-color;
        left: 0;
        top: 0;
    }

    &:after {
        @include top-center;
        width: $size - $border-width * 2;
        height: $size - $border-width * 2;
        background-color: $dark-color;
        right: 0;
    }
}