@import "../_foundation/styles";

.ib-arrow-top-right-small {
    @include button-no-before-after;

    &:before {
        @include button-after-before-setup;
        width: ($size / 2) - $border-width;
        height: ($size / 2) - $border-width;
        border-right: $border;
        border-top: $border;
        border-radius: $border-radius;
        right: 0;
        top: 0;
    }
}