@import "../_foundation/styles";

.ib-crescent-right {
    @include button-no-before-after;

    &:before {
        @include button-after-before-setup;
        border-right: $border;
        border-radius: 50%;
        width: $size - $border-width;
        height: 100%;
        right: $border-width;
        top: 0;
    }
}