@import "../_foundation/styles";

.ib-exclamation-mark {
    @include button;

    &:before {
        @include left-center;
        background-color: $dark-color;
        width: $border-width;
        height: calc(100% - #{$border-width} - #{$border-width / 3});
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        top: 0;
    }

    &:after {
        @include left-center;
        background-color: $dark-color;
        width: $border-width;
        height: $border-width;
        border-radius: 50%;
        bottom: 0;
    }
}