@import "../_foundation/styles";

.ib-not {
    @include button-no-before-after;

    &:before {
        @include button-after-before-setup;
        border-top: $border;
        border-right: $border;
        width: $size - $border-width;
        height: $border-width * 2;
        border-radius: $border-radius;
        left: 0;
        top: 0;
    }
}