@import "../_foundation/styles";

.ib-speech-mark {
    @include button-no-before-after;;

    &:before {
        @include button-after-before-setup;
        @include left-center;
        background-color: $dark-color;
        width: $border-width;
        height: $border-width * 2;
        border-radius: $border-radius;
        top: 0;
    }
}