@import "../_foundation/styles";

.ib-dot {
    @include button-no-before-after;

    &:before {
        @include left-center-minus($border-width / 2);
        @include top-center;
        @include button-after-before-setup;
        background-color: $dark-color;
        width: $border-width;
        height: $border-width;
        border-radius: 50%;
    }
}